                   /* Table style */
table{
    border-collapse: collapse;
    border-radius: 5px;
    margin: 0;
    font-size: 1.1rem;
    min-width:100%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: fixed;
    transition: all 0.2s ease-in-out;
}
table tbody, table thead{
    display: block;
}
table tbody{
    overflow-y: auto!important;
    overflow-x: hidden!important;
    max-height: 410px;
    border-spacing: 1rem 2em;
}
table thead tr{
    border-top: 2px solid #3cbdcc ;
    background-color: #f8f4f4;
    text-align: left ;
    font-weight: bold;
}
table tbody tr, table thead tr{
background-color: #fdfbfb;
border-bottom: 1px solid #eae6e6;
overflow: hidden;
transition: 0.05s ease-in;
}
table tbody tr td{
    height: 52px;
    width: auto;
    min-width: 40px;
    max-width: 255px ;
}
table tbody tr td:nth-child(1), table thead tr th:nth-child(1){
    padding: 4px 12px;
    font-size: 13px;
}
table tbody tr td:nth-child(2), table thead tr th:nth-child(2){
    font-size: 14px;
}
table tbody tr td:nth-child(4) i{
    font-size: 10px;
    margin-right: 10px;}

                /* CSS EFFECTS FOR HOVERING AND FOR ICONS */
table tbody tr.delete-animation:hover td p,       /* NOt USED in This project */
table tbody tr.edit-animation:hover td p{
    position: relative!important;
    animation-name: animation-text!important;
    animation-duration: 1s!important;
    animation-timing-function: linear!important;
    animation-iteration-count: infinite!important;
    animation-direction: alternate!important;}     /* NOt USED in This project */
.background-color-adding{
    position: relative;
    animation-name: animation-background-adding;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}                     /* NOt USED in This project */
.background-color-editing{
    position: relative;
    animation-name: animation-background-editing;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}                    /* NOt USED in This project */
.edit-animation:hover{
    color: white!important; ;
    cursor: pointer;
    position: relative!important;
    animation-name: animation-background-edit!important;
    animation-duration: 1s!important;
    animation-timing-function: linear!important;
    animation-iteration-count: infinite!important;
    animation-direction: alternate!important;
}                        /* NOt USED in This project */
.delete-animation:hover{
    color: white!important; ;
    cursor: pointer;
    position: relative!important;
    animation-name: animation-background-delete!important;
    animation-duration: 1s!important;
    animation-timing-function: linear!important;
    animation-iteration-count: infinite!important;
    animation-direction: alternate!important;
}                      /* Not USED IN THIS PROJECT */
.edit-cancel-icon-animation{
    position: relative;
    animation-name: animation-cancel-icon;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}                  /* NOt USED in This project */

@keyframes animation-text {
    0%    {right: 0px; top: 0}
    16.6% {right: 1px; top: 0}
    33.3% {right: 2px; top: 0}
    50%   {right: 4px; top: 0}
    66.6% {right: 2px; top: 0}
    83.3% {right: 1px; top: 0}
    100%  {right: 0px; top: 0}
}                     /* NOt USED in This project */
@keyframes animation-background-delete {
    0%   {background-color: #cc9191}
    20%  {background-color: #cc8d8d}
    40%  {background-color: #ce8989}
    50%  {background-color: #d28b8b}
    60%  {background-color: #ce7a7a}
    80%  {background-color: #c48585}
    100% {background-color: #c58787}
}        /* NOt USED in This project */
@keyframes animation-background-edit {
    0%   {background-color: #d39f6f}
    20%  {background-color: #d39d6c}
    40%  {background-color: #d29965}
    50%  {background-color: #be8c57}
    60%  {background-color: #c08752}
    80%  {background-color: #be8241}
    100% {background-color: #cb884c}
}          /* NOt USED in This project */
@keyframes animation-background-editing {
    0%   {transform: scale(1); background-color: rgba(194, 121, 55, 0.15)}
    20%  {transform: scale(1.001); background-color: rgba(194, 121, 55, 0.25)}
    40%  {transform: scale(1.002); background-color: rgba(194, 121, 55, 0.35)}
    50%  {transform: scale(1.003); background-color: rgba(194, 121, 55, 0.45)}
    60%  {transform: scale(1.004); background-color: rgba(194, 121, 55, 0.35)}
    80%  {transform: scale(1.002); background-color: rgba(194, 121, 55, 0.25)}
    100% {transform: scale(1.001); background-color: rgba(194, 121, 55, 0.15)}
}       /* NOt USED in This project */
@keyframes animation-background-adding {
    0%   {transform: scale(1); background-color: rgba(0, 152, 121, 0.2)}
    20%  {transform: scale(1.001); background-color: rgba(0, 152, 121, 0.25)}
    40%  {transform: scale(1.002); background-color: rgba(0, 152, 121, 0.35)}
    50%  {transform: scale(1.003); background-color: rgba(0, 152, 121, 0.45)}
    60%  {transform: scale(1.004); background-color: rgba(0, 152, 121, 0.35)}
    80%  {transform: scale(1.002); background-color: rgba(0, 152, 121, 0.25)}
    100% {transform: scale(1.001); background-color: rgba(0, 152, 121, 0.15)}
}        /* NOt USED in This project */
@keyframes animation-cancel-icon {
    0%   {transform: scale(1); color: rgba(194, 121, 55, 0.35)}
    20%  {transform: scale(1.05); color: rgba(194, 121, 55, 0.45)}
    40%  {transform: scale(1.1); color: rgba(194, 121, 55, 0.60)}
    50%  {transform: scale(1.15); color: rgba(194, 121, 55, 0.70)}
    60%  {transform: scale(1.1); color: rgba(194, 121, 55, 0.60)}
    80%  {transform: scale(1.05); color: rgba(194, 121, 55, 0.45)}
    100% {transform: scale(1); color: rgba(194, 121, 55, 0.35)}
}              /* NOt USED in This project */
                   /* CSS EFFECTS FOR HOVERING AND FOR ICONS ENDING */