                   /* Setup styling elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box!important;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
}
p{
    margin-bottom: 0!important;
}
.for-flex-direction{
                       display: flex;
                   }
                  /* This is for overall content position STYLING  */
.container-custom{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: rgba(84, 146, 161, 0.25);
}
.holder{
    width: 1000px;
    height: 89vh;
    min-height: 556px;
    max-height: 750px;
    display: grid;
    grid-template-columns: 13% 70%;
    flex-direction: row;
    justify-content: left;
    border-radius: 20px;
    box-shadow: 0 0 6px rgba(0,0,0,0.20);
}

                 /* This is for left side of to_do APP Styling (Menu Container)  */
.left-menu-bar{
    width: 130px;
    background-color: #f8f4f4;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: inherit;
    min-height: inherit;
    max-height: inherit;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

                 /* Inside of left menu container STYLING */
.left-menu-bar > div{
   width: 130px;
   height: 15.2%;
   border-bottom: 1px solid #dedada;
}
.left-menu-bar > div:first-child{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10%;
    height: 50px;
}
.left-menu-bar > div >i {
    font-size: 25px;
    transition: all 0.2s linear ;
    margin: 13% 0 0 40%;
}
.left-menu-bar > div > p{
                       margin-top: 2px;
                       text-align: center;
                       font-size: 14px;
                       color: #655f5f;}
.left-menu-bar > div:not(.left-menu-bar div:first-child):hover{
    cursor: pointer;
    background-color: #3cbdcc;
}
.left-menu-bar > div:last-child:hover,.left-menu-bar div:last-child.active-left-menu {
    border-bottom-left-radius: 20px!important;
}
.left-menu-bar > div:not(.left-menu-bar div:first-child):hover i,
.left-menu-bar > div:not(.left-menu-bar div:first-child):hover p{
    color: #2f0533 !important;
}
.left-menu-bar >div:not(.left-menu-bar div:first-child):hover i{
    transform: scale(1.2);
}
.left-menu-bar i, .right-side .search-bar i{
    color: #989696;
}

                 /* Menu Active Div STYLING */
.active-left-menu{
    background-color: #3cbdcc;
    cursor: initial!important;
}
.active-left-menu i, .active-left-menu p{
    color: #2f0533!important;
}
.active-left-menu i{
    transform: scale(1.2);
}

               /* Right SIDE STYLING(CONTAINER) */
.right-side{
    width: 870px;
    display: flex;
    flex-direction: column;
    height: inherit;
    min-height: inherit;
    max-height: inherit;
}

             /* SEARCH BAR STYLING */
.search-bar{
    height: 50px;
    width: inherit;
    background-color: #f8f4f4;
    display: flex;
    align-content: center;
    justify-content: space-around;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 20px;
}
.search-bar-input-container{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.search-bar-input-container label{
    margin: 0;
}
.search-bar-input-container #input-search{
    margin-left: 6px;
    border: none;
    outline: none;
    width: 650px;
    height: 30px;
    background-color: transparent;
}
.search-bar-admin{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.search-bar-admin div img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    image-orientation: initial;
    image-resolution: normal;
    margin-right: -10px;
}

                   /* DropDown menu Styling Start */
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 15px;
}
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    outline: none!important;
    border: none!important;
    background-color: transparent!important;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 20;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a, .dropdown p {
    color: black;
    padding: 4px 7px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
    text-decoration: none;
}

                   /* TODOLIST HOLDER STYLING */
.to-do-list-holder{
    width: inherit;
    height: 83vh;
    min-height: 506px;
    max-height:700px;
    background-color: rgba(84, 146, 161, 0.25)!important;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 20px;
}
.to-do-list, .to-do-list-add-holder, .to-do-list-page,
.to-do-list-edit, .to-do-completed-tasks, .to-do-adding-a-comment{
    width: 93%;
    margin-top: 2%;
    height: 97%;
    min-height: 450px;
    max-height: 683px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

                   /* This is DATE AND TIME SECTION STYLING (TABLE) */
.date-time-todo{
    width: 110px;
    height: 25px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    border: 3px solid rgba(213, 248, 241, 0.55);
    border-radius: 4px;
    background-color: rgba(213, 248, 241, 0.45);
    padding-right: 6px;
}
.date-time-todo p{
    font-size: 14px;
}
.date-time-todo span{
    border-left: 3px solid rgba(135, 229, 207, 0.55);
    height: 20px;
}

                    /* THIS IS FLOATING DIV STYLING (ADD AND EDIT FUNCTION) */
.to-do-list-add, .edit-floating-div{
    margin-top: 7%;
    background-color: #f8f4f4;
    height: 300px !important;
    min-height: 290px!important;
    max-height: 315px!important;
    width: 512px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.25);
}
.to-do-list-add{
    margin-left: 17%;
}
.to-do-list-add h3, .edit-floating-div h3{
    text-align: center;
}
.to-do-list-add #to-do-add,.form-for-comment, .edit-floating-div #to-do-add-edit {
    height: 35px;
    width: 200px;
    outline: none;
    background-color: transparent;
    border: none;
    border-radius: 7px;
    font-size: 14px;
    color: #f88e4c;
}
.edit-floating-div{
    position: absolute;
    top: 5%;
    left: 35%;
    z-index: 40;
    transition: all 5s ease-in-out;
}

                     /* INSIDE FLOATING DIV, INPUT SELECT STYLING */

#form-for-name, #form-for-date,
#form-for-name-edit, #form-for-priority-edit,
#form-for-date-edit, #form-for-time-edit ,
#form-for-priority, #form-for-time {
    margin: 10px 0 0 45px;
    color: black!important;
}

#to-do-add::placeholder, #to-do-add-edit::placeholder {
    color: rgba(243, 161, 132, 0.55);
}
.form-for-comment, .form-for-comment-1 {
    font-size: 11px!important;
    color: #f3a184 !important;
    margin-left: 15px;
}
.form-for-comment::placeholder{
    font-size: 13px!important;
    color: #f3a184 !important;
}
#to-do-add, #to-do-add-edit {
    width: 400px;
}
#form-for-name span:after, #form-for-name-edit span:after {
    content: "";
    background-color: #3cbdcc;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 50%;
    left: 53.5%;
    transform: translate(-50%, -50%);
    transition: all .3s linear;
}
#form-for-name .span-border-red:after{
    background-color: red;
}
#form-for-name #to-do-add:focus .span-for-input:after{
    width: 400px;
}

               /* ALL INPUT INSIDE FLOATING DIV STYLING */
#form-for-name label, #form-for-date label, #form-for-priority label, #form-for-time label {
    text-align: center;
    color: black!important;
}
#form-for-date input, #form-for-priority select,
#form-for-name input, #form-for-time input,
#form-for-date-edit input, #form-for-priority-edit select,
#form-for-name-edit input, #form-for-time-edit input{
    margin-top: 5px;
    background-color: transparent;
    border: 1px solid #c9c2c2;
    border-radius: 4px;
}
#form-for-priority select, #form-for-priority-edit select {
    height: 28px;
}

                       /* BUTTONS STYLING FOR ADD AND EDIT MENU */
.buttons-holder{
    display: flex;
    justify-content: center;
}
.buttons-holder button{
    margin-right: 5px;
}
#current-time{
    width: 100px!important;
    height: 30px;
    padding: 0;
    background-color: transparent;
    color: black;
}


                        /* Message status section SYTLING */
.message-received-status-holder{
    width: 50px;
    position: relative;
    display: flex;
}
.message-received-status{
    color: white;
    position: absolute;
    top: -7px;
    right: 23px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 12px;
    padding-left: 4px;
}
.message-received-status-bc-1{
    background-color: #55e555;}
.message-received-status-bc-2{
    background-color: #2e99ea;}
.message-received-status-bc-3{
    background-color: #e7a415;}
.message-received-status-bc-4{
    background-color: #ec304d;}

.content-table tbody tr td:nth-child(4) p{
    font-size: 13px;}

                  /* PRIORITY SECTION STYLING */
.high-priority{
    color: #e35858;
}
.medium-priority{
    color: #deaa4e;
}
.low-priority{
    color: #70f177;
}

                  /* COMPLETE OR INCOMPLETE CHECKING STYLING */
.in-progress-div{
    font-size: 12px;
    width: 87%;
    height: 20px;
    padding: 0 0 0 16px;
    border: 1px solid gray;
    border-radius: 34px;
}

              /* TABLE MODIFICATION FOR MY PROJECT */
.to-do-list-edit table thead th, .to-do-adding-a-comment table thead th{
    padding: 16px 0;
}
.content-table thead tr th i{
    font-size: 25px;
    color: black;
}
.content-table tbody tr td:nth-child(4){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 52px;
}
.content-table tbody tr td:nth-child(4) div{
    display: flex;
    align-items: center;
}
.content-table tbody tr td:nth-child(4) div p {
    margin: 0!important;
}
.to-do-adding-a-comment table tbody tr td:nth-child(4){
    height: 81px;
 }

              /* This setting is for TABLE-SCROLL PROPERTY STYLING */
table thead tr th:nth-child(1), table tbody tr td:nth-child(1){
    width: 63.6px!important; 
}
table thead tr th:nth-child(2), table tbody tr td:nth-child(2){
    width: 220px!important; 
}
table thead tr th:nth-child(3), table tbody tr td:nth-child(3){
    width: 175px!important; 
}
table thead tr th:nth-child(4), table tbody tr td:nth-child(4){
    width: 144px!important; 
}
table thead tr th:nth-child(5), table tbody tr td:nth-child(5){
    width: 79.5px!important; 
}
table thead tr th:nth-child(6), table tbody tr td:nth-child(6){
    width: 126px!important; 
}
